In [1]:
import csv as csv
import numpy as np
import pandas as pd
from sklearn.feature_selection import RFE
import random
import seaborn as sns
from sklearn.svm import SVC
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn import linear_model, metrics, cross_validation

from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import AdaBoostClassifier, BaggingClassifier, RandomForestClassifier
from sklearn.metrics import roc_curve, auc,confusion_matrix,classification_report,roc_auc_score
from pandas import DataFrame

/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
officer = pd.read_csv("/Users/jeanroure/Documents/1- ESSEC&CENTRALE/14- Networks/Project/csv_panama_papers.2018-02-14/panama_papers.nodes.officer.csv", delimiter=",")
del officer['sourceID']
del officer ['countries']
del officer ['valid_until']

In [3]:
intermediaries = pd.read_csv("/Users/jeanroure/Documents/1- ESSEC&CENTRALE/14- Networks/Project/csv_panama_papers.2018-02-14/panama_papers.nodes.intermediary.csv", delimiter=",")
del intermediaries['sourceID']
del intermediaries ['countries']
del intermediaries ['valid_until']

In [4]:
entity = pd.read_csv("/Users/jeanroure/Documents/1- ESSEC&CENTRALE/14- Networks/Project/csv_panama_papers.2018-02-14/panama_papers.nodes.entity.csv", delimiter=",")
del entity['jurisdiction_description']
del entity['countries']
del entity['sourceID']
del entity['valid_until']

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
address = pd.read_csv("/Users/jeanroure/Documents/1- ESSEC&CENTRALE/14- Networks/Project/csv_panama_papers.2018-02-14/panama_papers.nodes.address.csv", delimiter=",")
del address['countries']
del address['sourceID']
del address['valid_until']

In [6]:
edges = pd.read_csv("/Users/jeanroure/Documents/1- ESSEC&CENTRALE/14- Networks/Project/csv_panama_papers.2018-02-14/panama_papers.edges.csv", delimiter=",")
del edges['sourceID']
del edges['valid_until']

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
officer.info(), intermediaries.info(), entity.info(), address.info(), edges.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238402 entries, 0 to 238401
Data columns (total 4 columns):
node_id          238402 non-null int64
name             238399 non-null object
country_codes    144789 non-null object
note             49 non-null object
dtypes: int64(1), object(3)
memory usage: 7.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14110 entries, 0 to 14109
Data columns (total 5 columns):
node_id          14110 non-null int64
name             14110 non-null object
country_codes    12598 non-null object
status           12621 non-null object
note             3 non-null object
dtypes: int64(1), object(4)
memory usage: 551.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213634 entries, 0 to 213633
Data columns (total 13 columns):
node_id               213634 non-null int64
name                  213630 non-null object
jurisdiction          213634 non-null object
country_codes         212844 non-null object
incorporation_date    213599 non-null object
inactivation_date     144760 non-null object
struck_off_date       157872 non-null object
closed_date           0 non-null float64
ibcRUC                161771 non-null object
status                213631 non-null object
company_type          0 non-null float64
service_provider      213634 non-null object
note                  7 non-null object
dtypes: float64(2), int64(1), object(10)
memory usage: 21.2+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93454 entries, 0 to 93453
Data columns (total 5 columns):
node_id          93454 non-null int64
name             0 non-null float64
address          93453 non-null object
country_codes    92567 non-null object
note             0 non-null float64
dtypes: float64(2), int64(1), object(2)
memory usage: 3.6+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 674102 entries, 0 to 674101
Data columns (total 6 columns):
START_ID      674102 non-null int64
TYPE          674102 non-null object
END_ID        674102 non-null int64
link          674102 non-null object
start_date    290874 non-null object
end_date      79522 non-null object
dtypes: int64(2), object(4)
memory usage: 30.9+ MB

(None, None, None, None, None)

In [42]:
officer.columns, intermediaries.columns, entity.columns, address.columns, edges.columns

(Index(['node_id', 'name', 'country_codes', 'note'], dtype='object'),
 Index(['node_id', 'name', 'country_codes', 'status', 'note'], dtype='object'),
 Index(['node_id', 'name', 'jurisdiction', 'country_codes',
        'incorporation_date', 'inactivation_date', 'struck_off_date',
        'closed_date', 'ibcRUC', 'status', 'company_type', 'service_provider',
        'note'],
       dtype='object'),
 Index(['node_id', 'name', 'address', 'country_codes', 'note'], dtype='object'),
 Index(['START_ID', 'TYPE', 'END_ID', 'link', 'start_date', 'end_date'], dtype='object'))

In [27]:
edges.TYPE.unique()

array(['registered_address', 'intermediary_of', 'officer_of'],
      dtype=object)

In [37]:
edges[edges['TYPE'] == 'officer_of']

,START_ID,TYPE,END_ID,link,start_date,end_date
218944,12000001,officer_of,10073324,shareholder of,19-NOV-1999,04-JUL-2000
218946,12000002,officer_of,10148386,shareholder of,30-MAR-2012,06-JUL-2012
218948,12000003,officer_of,10024966,shareholder of,14-JAN-2010,NaN
218950,12000004,officer_of,10004763,shareholder of,23-JUL-2012,NaN
218952,12000005,officer_of,10206741,shareholder of,13-SEP-2010,NaN
218954,12000006,officer_of,10100165,shareholder of,11-FEB-2002,NaN
218956,12000007,officer_of,10139840,shareholder of,22-APR-2010,NaN
218958,12000008,officer_of,10085853,shareholder of,03-JUN-2009,NaN
218960,12000009,officer_of,10085853,shareholder of,03-JUN-2009,NaN
218962,12000010,officer_of,10112597,shareholder of,01-JUL-2004,NaN
218963,12000010,officer_of,10112597,shareholder of,30-AUG-2004,04-MAY-2005
218965,12000011,officer_of,10112597,shareholder of,30-AUG-2004,04-MAY-2005
218966,12000011,officer_of,10112597,shareholder of,01-JUL-2004,NaN
218968,12000012,officer_of,10083672,shareholder of,18-SEP-2003,NaN
218969,12000013,officer_of,10083672,shareholder of,18-SEP-2003,NaN
218970,12000014,officer_of,10083672,shareholder of,18-SEP-2003,NaN
218971,12000015,officer_of,10083672,shareholder of,28-JAN-2003,NaN
218972,12000015,officer_of,10083672,shareholder of,01-MAY-2003,NaN
218973,12000016,officer_of,10083672,shareholder of,15-JAN-2003,18-SEP-2003
218974,12000017,officer_of,10083672,shareholder of,01-FEB-2002,NaN
218975,12000017,officer_of,10083672,shareholder of,01-JAN-2002,NaN
218976,12000018,officer_of,10083672,shareholder of,28-JAN-2003,NaN
218977,12000019,officer_of,10083672,shareholder of,18-SEP-2003,NaN
218978,12000020,officer_of,10083672,shareholder of,18-SEP-2003,NaN
218979,12000021,officer_of,10083672,shareholder of,18-SEP-2003,NaN
218980,12000022,officer_of,10083672,shareholder of,28-JAN-2003,NaN
218981,12000023,officer_of,10083672,shareholder of,28-JAN-2003,NaN
218982,12000024,officer_of,10200727,shareholder of,19-AUG-2015,NaN
218984,12000025,officer_of,10200727,shareholder of,19-AUG-2015,NaN
218986,12000026,officer_of,10150964,shareholder of,12-OCT-2011,NaN
...,...,...,...,...,...,...
674072,15005002,officer_of,10155352,"beneficiary, shareholder and director of",NaN,NaN
674073,15005002,officer_of,10162180,"beneficiary, shareholder and director of",NaN,NaN
674074,15005002,officer_of,10109965,"beneficiary, shareholder and director of",NaN,NaN
674075,15005003,officer_of,10109965,"beneficiary, shareholder and director of",NaN,NaN
674076,15005003,officer_of,10162180,"beneficiary, shareholder and director of",NaN,NaN
674077,15005003,officer_of,10155352,"beneficiary, shareholder and director of",NaN,NaN
674078,15005004,officer_of,10162180,beneficiary of,NaN,NaN
674079,15005201,officer_of,10166635,beneficial owner of,NaN,NaN
674080,15005401,officer_of,10210746,sole shareholder of,NaN,NaN
674081,15005401,officer_of,10059412,connected of,NaN,NaN
674082,15005501,officer_of,10195766,beneficial owner of,NaN,NaN
674083,15005801,officer_of,10067331,owner of,NaN,NaN
674084,15005901,officer_of,10189895,sole shareholder of,NaN,NaN
674085,15005901,officer_of,10189895,director of,NaN,NaN
674086,15005901,officer_of,10189895,power of attorney of,NaN,NaN
674087,15006301,officer_of,10114434,power of attorney of,NaN,NaN
674088,15006401,officer_of,10081873,power of attorney of,NaN,NaN
674089,15006601,officer_of,10017997,power of attorney of,NaN,NaN
674090,15006701,officer_of,10205215,power of attorney of,NaN,NaN
674091,15006801,officer_of,10038530,connected of,NaN,NaN
674092,15006801,officer_of,10160636,first beneficiary of,NaN,NaN
674093,15006801,officer_of,10018125,shareholder (through julex foundation) of,NaN,NaN
674094,15006801,officer_of,10014683,connected of,NaN,NaN
674095,15007201,officer_of,10141675,owner of,NaN,NaN
674096,15007201,officer_of,10124243,owner of,NaN,NaN
674097,15007201,officer_of,10138472,owner of,NaN,NaN
674098,15007202,officer_of,10143427,owner of,NaN,NaN
674099,15007202,officer_of,10142797,owner of,NaN,NaN
674100,15007202,officer_of,10121515,owner of,NaN,NaN
674101,15007401,officer_of,10021287,owner of,NaN,NaN

In [41]:
entity[entity['node_id']== 10142797]

,node_id,name,jurisdiction,country_codes,incorporation_date,inactivation_date,struck_off_date,closed_date,ibcRUC,status,company_type,service_provider,note
143723,10142797,CULLODEN PROPERTIES LIMITED,BVI,GBR,14-JAN-2010,29-JUN-2015,31-OCT-2016,NaN,NaN,In transition,NaN,Mossack Fonseca,NaN

In [40]:
address[address['node_id']== 15006801]

Empty DataFrame
Columns: [node_id, name, address, country_codes, note]
Index: []